body {
  text-align: center;
  font-size: 22px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
  color: rgb(23, 17, 17);
  background-color: rgb(196, 4, 4);
  animation-name: squish;
  animation-duration: 2s;
  animation-fill-mode: both;
}

h2 {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-fill-mode: both;
}

#addButton, .complete-btn {
  margin-top: 1rem;
  background-color: #a2ba7d;
  padding: 1px 10px;
  border-radius: 10px;
  border-color: #627544;
  color: white;
  font-size: 1rem;
}

#addButton:hover {
  background-color: #c1db9b;
  padding: 5px 15px;
}

.complete-btn:hover {
  background-color: #c1db9b;
  padding: 1px 10px;
  text-decoration: line-through;
}


.delete-btn {
  margin-top: 1rem;
  background-color: rgb(193 74 74);
  border-radius: 10px;
  color: white;
  padding: 1px 10px;
  border-radius: 10px;
  font-size: 1rem;
}

.delete-btn:hover {
  background-color: rgb(255 7 71);
  padding: 1px 10px;
  font-weight: bold;
}

td, th {
  border: 7px solid rgb(44, 75, 230) ;
  padding: 0.5rem;
  text-align: center;
  padding-bottom: 10px;
}
th {
  background-color: rgb(45, 218, 237);
  font-size: larger;
}
td {
   background-color: rgb(45, 237, 144);;
   color: black;
   font-weight: bold;
}